.featured {
    font-family: Varela Round;
    height: 950px;
    width: 100%;
}

.bckImg {
    width: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
    max-width: 400px;
}

.klogo {
    height: 150px;
}

.desc {
    background-color: rgb(0, 0, 0, .4);
    padding: 20px;
    border-radius: 20px;

}

.featuredButtons {
    font-family: Varela Round;
}

.play {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    border: solid 2px black;
    font-weight: 600;
    color: #0099FF;
    cursor: pointer;
}

.more {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}


@media all and (max-width: 800px) {
    
    .featured {
        font-family: Varela Round;
        height: 750px;
        width: 100%;
    }
}


@media all and (max-width: 600px) {
    
    .featured {
        font-family: Varela Round;
        height: 750px;
        width: 100%;
    }

    .klogo {
        height: 100px;
    }

    .info {
        position: absolute;
        left: 50px;
        bottom: 50px;
        color: white;
        max-width: 400px;
    }

    .desc {
        background-color: rgb(0, 0, 0, .4);
        padding: 20px;
        border-radius: 20px;
        font-size: 13px;
    }
    
    .featuredButtons {
        font-family: Varela Round;
    }
}

@media all and (max-width: 480px) {

    .featured {
        font-family: Varela Round;
        height: 750px;
        width: 100%;
    }
    
    .klogo {
        height: 60px;
    }

    .info {
        position: absolute;
        left: 50px;
        bottom: 120px;
        color: white;
        max-width: 250px;
    }

    .desc {
        background-color: rgb(0, 0, 0, .4);
        padding: 20px;
        border-radius: 20px;
        font-size: 13px;
    }

    .featuredButtons {
        font-family: Varela Round;
    }
}
