.list {
    width: 100%;
    margin-top: 10px;
}

.listTitle {
    font-family: Varela Round;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
    color: white;
}

.listWrapper {
    margin-left: 50px;
    display: flex;
    overflow-x: auto;
}

.listWrapper::-webkit-scrollbar {
    width: 0;
}