.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    color: white; 
    height: 80px;
}

.navbar.active {
    background-color: black;
    font-size: 14px;
    font-family: Varela Round;
    font-weight: 300;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
}

.navitems {
    display: flex;
    align-items: center; 
    font-size: 14px;
    font-family: Varela Round;
    font-weight: 300;
}

.navitems #hidden{
    display: none;
}

.signoutButton {
    color: rgb(255, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: Varela Round;
    padding: 15px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

span {
    margin-right: 30px;
    cursor: pointer;
}

span:hover {
    opacity: .4;
    transition: .5s;
}

.logo {
    height: 30px;
    padding: 20px;
} 

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.nav-link:hover {
    opacity: .4;
    transition: .5s;
}

.nav-link.active:hover {
    opacity: .4;
    transition: .5s;
}

.hamburger {
    display: none
}

.nav-link2 {
    display: none;
}

.nav-link3 {
    display: none;
}

@media all and (max-width: 600px) {

    .hamburger {
        display: flex;
        margin-right: 20px;
        cursor: pointer;
    }

    .nav-link {
        display: none;
    }

    .signoutButton {
        display: none;
    }

    .hamburger.active{
        position: absolute;
        left: 0px;
        top: 80px;
        height: 225px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        border-radius: 10px;
    }

   .nothing {
    display: none;
   }

   .nav-link2 {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-bottom: 2px solid white;
    align-items: center;
}

.nav-link3 {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-bottom: 2px solid black;
    align-items: center;
    color: rgb(255, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: Varela Round;
    padding: 15px;
    cursor: pointer;
}

.nav-link2:hover {
    opacity: .4;
    transition: .5s;
}
}