
.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.login-image {
    width: 400px;
}


.login-form {
    margin-top: 50px;
    text-align: center
}

.login-label {
    color: white;
    margin-bottom: 30px;
}

.loginBtn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #0099FF;
    color: white;
    cursor: pointer;
}

.loginBtn:hover {
    opacity: .7;
    transition: .5s;
}


.signupBtn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.signupBtn:hover {
    opacity: .4;
    transition: .5s;
}

.homeBtns {
    display: flex;
    flex-direction: column;
}

.forgotBtn {
    background-color: transparent;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

.forgotBtn:hover {
    opacity: .4;
    transition: .5s;
}